
@{
    ViewData["Title"] = "Users";
}
@model UserViewModel

<h1>Users</h1>

    @using (Html.BeginForm("Create", "Users", FormMethod.Post))
    {
    @Html.LabelFor(model => model.FirstName) @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } }) @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
    @Html.LabelFor(model => model.LastName) @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } }) @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
<input type="submit" value="Submit" />
    }




